body{
    background-image: url(/Sample-SOP-for-MS-in-CS.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;

    border-style: dashed;
    border-color: blueviolet;
    border-radius: 2%;
    border-width: 5px;

}
h1{
    text-align: center;
    color: black;
}
h2{
    color: rgb(60, 19, 101);
    /* color: rgba(150, 250, 120, 1.0); */
    color: hsla(220, 52, 50, 0.5);
}
ol,ul,dl{
    border-style:double;
}
table{
    border: 4px solid red;
    text-align: center;
    font-size: large;
    width: 60%;
    height: 40%;
}
th{
    border: 2px solid blue;
    background-color: yellow;
}
td{
    border: 2px solid green;
    background-color: yellow;
}
#cs{
    border-collapse: separate;
    border-spacing: 30px 10px;
    cursor: pointer;
    font-family: cursive;
    font-variant: small-caps;
    font-weight: 900;
    font-size: larger;
    font-style: oblique;

}
a{
    font-size: 100px;
    color: black;
    opacity: 70%;
}
a:hover{
    color: blueviolet;
}
a:active{
    color: red;
}
#h2{
    font-size: 200%;
    padding: 100px 200px 50px 100px;
}
.b1,.b3{
    background-color: crimson;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 50px;
    box-shadow: 100px 50px;
}
.b2,.b4{
    background-color: green;
    border: 2px double yellow;
    border-radius: 10px;
    font-size: 50px;
    box-shadow: 100px 50px;
    text-decoration: underline;
}
.t1{
    float: left;
    /* align-self: center; */
    /* opacity: 0.9;
    filter: brightness(2); */
    /* filter: invert(); */
    filter: grayscale();
    filter: drop-shadow(20px 100px);
    filter:saturate(100);
}
#box{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border: 20px solid red;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 10px;
    font-size: xx-large;
    font-weight: bolder;
    height: 100px;
    width: 300px;

    box-sizing: border-box;
    box-decoration-break: slice;
}
#para2{
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;
    font-variant: small-caps;

    text-overflow:clip;
    text-size-adjust: inherit;
}